<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!---<h1>app1 is here</h1>
    {% if a > 40 %}
    <h2>{{a}}</h2>
    {% endif %}
        <h1>ifelse condition</h1>
    {% if a > b %}
        <h1>a grater then b</h1>
    {% else %}
        <h1>b is grater then a</h1>
    {% endif %}
    <h1>if-elif condition</h1>
    {% if a > b and a < c %}
        <h2>a is grater then b,c</h2>
    {% elif b > c%}
        <h2>b is grater then c,a</h2>
    {% else %}
        <h2>c is grater then b,a</h2>
    {% endif %}-->                
</body>
</html>